In [1]:
import pandas as pd

In [2]:
### Building permit data from 2014 to present ###
### https://data.miamigov.com/Government/Building-Permits-Issued-By-City-Of-Miami-From-2014/7ey5-m434 ###

df = pd.read_csv('Building_Permits_Issued_By_City_Of_Miami_From_2014_To_Present.csv')

In [3]:
### TO DO: Craft definitions for column names. 

df.columns

Index(['ID', 'AdditionSQFT', 'ApplicationNumber', 'BuildingFinalLastInspDate',
       'BuildingFinalLastInspResult', 'BuildingPermitStatusDescription',
       'BuildingPermitStatusReasonDescription', 'Certificatecode',
       'Certificatedate', 'CompanyAddress', 'CompanyCity', 'CompanyName',
       'CompanyZip', 'DaysInCity', 'DaysInCityNumeric', 'DeliveryAddress',
       'FirstSubmissionDate', 'FolioNumber', 'IsPermitFinal',
       'IsPrivateProvider', 'IssuedDate', 'Latitude', 'Longitude',
       'Miami21Zone', 'NewAdditionCost', 'PermitNumber', 'PlanAcceptedDate',
       'PlanCreatedDate', 'ProcessNumber', 'PropertyType', 'RemodelingCost',
       'RemSQFT', 'RequiredCertificate', 'ScopeofWork', 'Statusdate',
       'TotalCost', 'TotalDaysInPlanReview', 'TotalDaysInPlanReviewNumeric',
       'TotalSQFT', 'WorkItems', 'Location_1'],
      dtype='object')

In [4]:
pd.set_option('display.max_columns',500)

In [5]:
df.head(10)

,ID,AdditionSQFT,ApplicationNumber,BuildingFinalLastInspDate,BuildingFinalLastInspResult,BuildingPermitStatusDescription,BuildingPermitStatusReasonDescription,Certificatecode,Certificatedate,CompanyAddress,CompanyCity,CompanyName,CompanyZip,DaysInCity,DaysInCityNumeric,DeliveryAddress,FirstSubmissionDate,FolioNumber,IsPermitFinal,IsPrivateProvider,IssuedDate,Latitude,Longitude,Miami21Zone,NewAdditionCost,PermitNumber,PlanAcceptedDate,PlanCreatedDate,ProcessNumber,PropertyType,RemodelingCost,RemSQFT,RequiredCertificate,ScopeofWork,Statusdate,TotalCost,TotalDaysInPlanReview,TotalDaysInPlanReviewNumeric,TotalSQFT,WorkItems,Location_1
0,2,0,BD12000085,04/05/2019 10:01:00 AM,NaN,Final,All Inspections are finalized.,NaN,NaN,8120 NW 84 ST,MIAMI,MR GLASS DOORS & WINDOWS INC,"33,165",0 Day(s) 2 Hour(s) 4 Minute(s),0,1470 NW 36 ST,03/20/2012 09:14:00 AM,"131,260,380,680",True,False,03/21/2012 09:47:00 AM,25.809518,-80.221208,T6-8-O,NaN,BD12000085001B001,03/20/2012 09:12:00 AM,03/20/2012 08:46:00 AM,BD12000085001,Commercial,"10,000",0,NaN,REMODELING/REPAIRS,04/05/2019 10:01:00 AM,"10,000",1 Day(s) 0 Hour(s) 35 Minute(s),1,0,STORE FRONTS / SIMILAR FIXED GLASS|WINDOWS / D...,POINT (-80.2212083253235 25.8095183935876)
1,4,0,BD12000144,NaN,NaN,Final,All Inspections are finalized.,NaN,NaN,6213 SW 25 ST,MIAMI,SECURITY PLUS INDUSTRIES INC,"33,155",0 Day(s) 0 Hour(s) 27 Minute(s),0,1475 SW 8 ST,03/21/2012 08:43:00 AM,"141,020,540,001",True,False,03/21/2012 11:24:00 AM,25.765970,-80.219016,T6-8-O,0,BD12000144001E001,03/21/2012 08:43:00 AM,03/21/2012 08:19:00 AM,BD12000144001,Commercial,0,0,NaN,ELECTRICAL,11/18/2019 09:56:00 AM,"9,500",0 Day(s) 2 Hour(s) 41 Minute(s),0,0,CCTV,POINT (-80.2190164093336 25.7659702446585)
2,5,0,BD12000170,NaN,NaN,Final,All Inspections are finalized.,NaN,NaN,3020 SW 13 ST,MIAMI,FLORIDA HOME IMPROVEMENT/INACTIVE,"33,132",0 Day(s) 3 Hour(s) 21 Minute(s),0,3020 SW 16 ST,03/22/2012 10:27:00 AM,"141,090,330,030",True,False,03/30/2012 01:04:00 PM,25.757533,-80.243186,T3-O,NaN,BD12000170001P001,03/22/2012 10:27:00 AM,03/21/2012 11:32:00 AM,BD12000170001,Residential,NaN,0,NaN,PLUMBING,10/22/2020 12:27:00 PM,"8,500",8 Day(s) 2 Hour(s) 37 Minute(s),8,0,SERVICE CONNECTION / REPLACEMENT/SOLAR WATER H...,POINT (-80.2431859608035 25.7575331011649)
3,7,0,BD12000216,07/12/2012 07:58:00 AM,NaN,Final,All Inspections are finalized.,NaN,NaN,8155 NW 93 St.,Miami,All American Doors Inc.,"33,166",0 Day(s) 4 Hour(s) 14 Minute(s),0,410 NE 52 ST,03/22/2012 11:16:00 AM,"132,190,170,100",True,False,04/16/2012 11:14:00 AM,25.823628,-80.186212,T3-R,NaN,BD12000216001B001,03/22/2012 11:16:00 AM,03/22/2012 10:53:00 AM,BD12000216001,Residential,"1,000",0,NaN,REMODELING/REPAIRS,08/16/2021 01:07:00 PM,"1,000",24 Day(s) 23 Hour(s) 58 Minute(s),24,0,GARAGE OR ROLL-UP DOOR (NO ELECTRICAL),POINT (-80.1862119902906 25.8236277770409)
4,1,0,BD12000077,NaN,NaN,Expired,Permit is Expired,NaN,NaN,3941 nw 45th terrace,Lauderdale,Altron Electrical Services,"33,319",0 Day(s) 3 Hour(s) 0 Minute(s),0,1892 NW 42 ST,03/19/2012 03:25:00 PM,"131,220,350,900",False,False,03/20/2012 04:01:00 PM,25.813893,-80.228013,T3-O,NaN,BD12000077001E001,03/19/2012 03:25:00 PM,03/19/2012 03:13:00 PM,BD12000077001,Residential,NaN,0,NaN,ELECTRICAL,09/11/2021 12:10:00 AM,200,1 Day(s) 0 Hour(s) 36 Minute(s),1,0,SERVICE REPAIR,POINT (-80.2280128578459 25.8138934600492)
5,6,0,BD12000212,09/18/2014 02:21:00 PM,NaN,Expired,Permit is Expired,NaN,NaN,9291 MARTINQUE DR,MIAMI,FRANK DELCARLO CONSTRUCTION CO INC,"33,186",0 Day(s) 0 Hour(s) 18 Minute(s),0,1425 BRICKELL AV # 65A,03/22/2012 10:48:00 AM,"141,390,760,260",False,False,03/22/2012 11:32:00 AM,25.759035,-80.192109,T6-48A-O,NaN,BD12000212001B001,03/22/2012 10:48:00 AM,03/22/2012 10:22:00 AM,BD12000212001,Commercial,"20,000",0,NaN,REMODELING/REPAIRS,09/11/2021 12:10:00 AM,"20,000",0 Day(s) 0 Hour(s) 44 Minute(s),0,0,WOOD/LAMINATE/TILE,POINT (-80.1921085780606 25.7590346059122)
6,3,0,BD12000118,NaN,NaN,Active,Permit is Active. Ready for Inspections.,NaN,NaN,3021 N COMMERCE PARKWAY,MIRAMAR,SIEMENS INDUSTRY INC.,"33,025",0 Day(s) 1 Hour(s) 17 Minute(s),0,1400 NW 12 AV,03/22/2012 08:03:00 AM,"131,350,450,010",False,False,03/22/2012 10:11:00 AM,25.788807,-80.215187,CI-HD,NaN,BD12000118001E001,03/20/2012 03:11:00 PM,03/20/2012 02:47:00 PM,BD12000118001,Commercial,NaN,0,NaN,ELECTRICAL,11/04/2021 03:42:00 PM,"1,950",1 Day(s) 19 Hour(s) 0 Minute(s),1,0,EXISTING FIRE ALARM SYSTEM,POINT (-80.2151866309 25.7888073693991)
7,21,0,BD12000669,NaN,NaN,Expired,Permit is Expired,NaN,NaN,NaN,NaN,NaN,NaN,0 Day(s) 2 Hour(s) 0 Minute(s),0,1721 SW 11 ST,04/04/2012 08:27:00 AM,"141,100,632,430",False,False,04/04/2012 12:51:00 PM,25.763328,-80.222953,T3-R,0,BD12000669001B001,04/04/2012 08:27:00 AM,04/03/2012 12:08:00 PM,BD12000669001,Residential,"2,700",0,NaN,REMODELING/REPAIRS,01/09/2020 12:10:00 AM,"2,700",0 Day(s) 4 Hour(s) 24 Minute(s),0,0,WOOD FENCE,POINT (-80.2229531867132 25.763328057528)
8,17,34,BD12000534,04/23/2014 10:00:00 AM,NaN,Final,All Inspections are finalized.,NaN,NaN,18901 SW 106 AV # A-240,MIAMI,JOD CONSULTANT INC,"33,157",26 Day(s) 11 Hour(s) 39 Minute(s),26,250 SW 51 CT,04/10/2012 08:44:00 AM,"141,060,350,230",True,False,10/24/2012 11:37:00 AM,25.768530,-80.278366,T3-R,"2,763",BD12000534001B001,04/02/2012 03:16:00 PM,03/30/2012 10:02:00 AM,BD12000534001,Residential,0,0,CO,NEW CONSTRUCTION,03/28/2019 09:10:00 AM,"2,763",204 Day(s) 20 Hour(s) 21 Minute(s),204,34,SINGLE FAMILY RESIDENCE,POINT (-80.2783660176244 25.7685299233343)
9,18,0,BD12000587,11/10/2021 11:31:00 AM,NaN,Final,All Inspections are finalized.,CC,11/10/2021 04:20:00 PM,1966 NE 123 ST # 111,NORTH MIAMI,SOUTHEASTERN CONSTRUCTION GROUP INC,"33,181",0 Day(s) 6 Hour(s) 20 Minute(s),0,1643 BRICKELL AV # 4702,04/02/2012 11:04:00 AM,"141,390,620,660",True,False,04/05/2012 10:44:00 AM,25.756113,-80.195145,T6-24A-R,0,BD12000587001B002,04/02/2012 11:04:00 AM,04/02/2012 10:49:00 AM,BD12000587001,Commercial,"150,000","6,400",CC,REMODELING/REPAIRS,11/10/2021 04:18:00 PM,"150,000",2 Day(s) 23 Hour(s) 40 Minute(s),2,"6,400",MULTI-FAMILY (CONDO),POINT (-80.1951450086298 25.7561131130039)

In [6]:
df.CompanyName.value_counts()

POWER DESIGN INC                         570
FRIENDLY JOHN INC                        498
INFINITY CONSTRUCTION SERVICES INC       432
Fisk Electric Company                    408
THYSSENKRUPP ELEVATOR CORP  MIAMI        403
                                        ...
THE DOOR DOCTOR OF SOUTH FLORIDA INC.      1
RAM QUALITY GROUP CORP                     1
MOYA SERVICES CORPORATION                  1
Miller Development Group                   1
Techline Sports Lightning LLC              1
Name: CompanyName, Length: 8201, dtype: int64

In [7]:
df.dtypes

ID                                        object
AdditionSQFT                              object
ApplicationNumber                         object
BuildingFinalLastInspDate                 object
BuildingFinalLastInspResult              float64
BuildingPermitStatusDescription           object
BuildingPermitStatusReasonDescription     object
Certificatecode                           object
Certificatedate                           object
CompanyAddress                            object
CompanyCity                               object
CompanyName                               object
CompanyZip                                object
DaysInCity                                object
DaysInCityNumeric                         object
DeliveryAddress                           object
FirstSubmissionDate                       object
FolioNumber                               object
IsPermitFinal                               bool
IsPrivateProvider                           bool
IssuedDate                                object
Latitude                                 float64
Longitude                                float64
Miami21Zone                               object
NewAdditionCost                           object
PermitNumber                              object
PlanAcceptedDate                          object
PlanCreatedDate                           object
ProcessNumber                             object
PropertyType                              object
RemodelingCost                            object
RemSQFT                                   object
RequiredCertificate                       object
ScopeofWork                               object
Statusdate                                object
TotalCost                                 object
TotalDaysInPlanReview                     object
TotalDaysInPlanReviewNumeric              object
TotalSQFT                                 object
WorkItems                                 object
Location_1                                object
dtype: object

### This cell creates a new DF

In [8]:
df2 = df.filter(['ApplicationNumber','CompanyName','DaysInCityNumeric','FirstSubmissionDate','FolioNumber','IsPermitFinal','PlanAcceptedDate','PlanCreatedDate','PropertyType','TotalDaysInPlanReviewNumeric'])

### Create a column for the number of times a company has applied for a permit since 2014

In [9]:
df2['number_of_permits_applied_for'] = df2.groupby(['CompanyName'])['TotalDaysInPlanReviewNumeric'].transform('count')

In [10]:
### This line of code checks to make sure the 'Company_Counts' value is the same for all companies
#df2.loc[df2['CompanyName'] == 'Miller Development Group']

In [11]:
df2.CompanyName.value_counts()

POWER DESIGN INC                         570
FRIENDLY JOHN INC                        498
INFINITY CONSTRUCTION SERVICES INC       432
Fisk Electric Company                    408
THYSSENKRUPP ELEVATOR CORP  MIAMI        403
                                        ...
THE DOOR DOCTOR OF SOUTH FLORIDA INC.      1
RAM QUALITY GROUP CORP                     1
MOYA SERVICES CORPORATION                  1
Miller Development Group                   1
Techline Sports Lightning LLC              1
Name: CompanyName, Length: 8201, dtype: int64

In [12]:
### Cleans commas from the column
df2['TotalDaysInPlanReviewNumeric'] = df2['TotalDaysInPlanReviewNumeric'].replace(',','',regex=True)

### Converts the column to numeric
df2.TotalDaysInPlanReviewNumeric = pd.to_numeric(df2.TotalDaysInPlanReviewNumeric)

### Checks the data types
df2.dtypes

ApplicationNumber                 object
CompanyName                       object
DaysInCityNumeric                 object
FirstSubmissionDate               object
FolioNumber                       object
IsPermitFinal                       bool
PlanAcceptedDate                  object
PlanCreatedDate                   object
PropertyType                      object
TotalDaysInPlanReviewNumeric     float64
number_of_permits_applied_for    float64
dtype: object

In [13]:
### Calculates the mean based on company name
df2['PlanReviewAverageDays'] = df2.groupby('CompanyName',as_index=False)['TotalDaysInPlanReviewNumeric'].transform('mean')

In [14]:
df2.loc[df2['CompanyName'] == 'THYSSENKRUPP ELEVATOR CORP  MIAMI']

,ApplicationNumber,CompanyName,DaysInCityNumeric,FirstSubmissionDate,FolioNumber,IsPermitFinal,PlanAcceptedDate,PlanCreatedDate,PropertyType,TotalDaysInPlanReviewNumeric,number_of_permits_applied_for,PlanReviewAverageDays
161,BD21004550,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"141,390,640,010",False,03/08/2021 12:13:00 PM,03/04/2021 09:54:00 AM,Commercial,1.0,403.0,14.92804
654,BD21003452,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"101,140,301,010",False,03/19/2021 11:08:00 AM,02/18/2021 01:44:00 PM,Commercial,19.0,403.0,14.92804
828,BD21004078,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"131,250,770,040",False,04/09/2021 12:29:00 PM,02/25/2021 03:57:00 PM,Commercial,16.0,403.0,14.92804
1035,BD21013378,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"131,121,010,010",False,07/23/2021 09:43:00 AM,06/15/2021 02:55:00 PM,Commercial,81.0,403.0,14.92804
1390,BD21003467,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"101,140,301,010",False,03/19/2021 11:32:00 AM,02/18/2021 02:44:00 PM,Commercial,19.0,403.0,14.92804
...,...,...,...,...,...,...,...,...,...,...,...,...
88645,BD19002397,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"141,213,840,050",True,02/13/2019 04:09:00 PM,02/11/2019 09:36:00 AM,Commercial,22.0,403.0,14.92804
89350,BD20019234,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"141,370,220,020",True,09/25/2020 11:58:00 AM,09/22/2020 10:44:00 AM,Commercial,7.0,403.0,14.92804
89889,BD21002100,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"142,060,610,001",False,02/04/2021 03:57:00 PM,02/01/2021 12:24:00 PM,Commercial,10.0,403.0,14.92804
90162,BD19025056,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"132,300,260,010",True,01/09/2020 04:13:00 PM,12/09/2019 05:14:00 PM,Commercial,20.0,403.0,14.92804
90325,BD19025053,THYSSENKRUPP ELEVATOR CORP MIAMI,NaN,NaN,"132,300,260,010",True,01/09/2020 04:09:00 PM,12/09/2019 04:57:00 PM,Commercial,20.0,403.0,14.92804

In [15]:
df3 = df2.filter(['CompanyName','number_of_permits_applied_for','PlanReviewAverageDays'])
print(len(df3))

90461

In [16]:
df3 = df3.drop_duplicates()
print(len(df3))

8202

In [17]:
#pd.set_option('display_max_rows',500)

In [18]:
df3 = df3.sort_values(by='number_of_permits_applied_for',ascending=False)
df3 = df3.reset_index(drop=True)
df3

,CompanyName,number_of_permits_applied_for,PlanReviewAverageDays
0,POWER DESIGN INC,570.0,76.708772
1,FRIENDLY JOHN INC,497.0,4.464789
2,INFINITY CONSTRUCTION SERVICES INC,432.0,325.638889
3,Fisk Electric Company,408.0,72.127451
4,THYSSENKRUPP ELEVATOR CORP MIAMI,403.0,14.928040
...,...,...,...
8197,RAM QUALITY GROUP CORP,1.0,3.000000
8198,MOYA SERVICES CORPORATION,1.0,0.000000
8199,Techline Sports Lightning LLC,1.0,437.000000
8200,All Cool Air Conditioning LLC,0.0,NaN
8201,NaN,NaN,NaN

In [19]:
df3.to_csv('preliminary_permit_data.csv')

### Folio Analysis

In [21]:
df.FolioNumber.value_counts()

147,170,009,000    736
141,211,260,010    624
101,140,301,350    358
102,100,301,050    343
131,350,110,050    338
                  ...
140,020,051,240      1
131,350,260,170      1
141,220,300,380      1
131,260,200,550      1
131,120,080,770      1
Name: FolioNumber, Length: 26639, dtype: int64

In [22]:
len(df.FolioNumber.value_counts())

26639

In [26]:
df.columns

Index(['ID', 'AdditionSQFT', 'ApplicationNumber', 'BuildingFinalLastInspDate',
       'BuildingFinalLastInspResult', 'BuildingPermitStatusDescription',
       'BuildingPermitStatusReasonDescription', 'Certificatecode',
       'Certificatedate', 'CompanyAddress', 'CompanyCity', 'CompanyName',
       'CompanyZip', 'DaysInCity', 'DaysInCityNumeric', 'DeliveryAddress',
       'FirstSubmissionDate', 'FolioNumber', 'IsPermitFinal',
       'IsPrivateProvider', 'IssuedDate', 'Latitude', 'Longitude',
       'Miami21Zone', 'NewAdditionCost', 'PermitNumber', 'PlanAcceptedDate',
       'PlanCreatedDate', 'ProcessNumber', 'PropertyType', 'RemodelingCost',
       'RemSQFT', 'RequiredCertificate', 'ScopeofWork', 'Statusdate',
       'TotalCost', 'TotalDaysInPlanReview', 'TotalDaysInPlanReviewNumeric',
       'TotalSQFT', 'WorkItems', 'Location_1'],
      dtype='object')

In [28]:
df.ScopeofWork.value_counts()

REMODELING/REPAIRS                   35677
NEW CONSTRUCTION                     18745
BUILDING ROOFING                      7783
ELECTRICAL                            5438
ADDITION AND REMODELING               4356
MECHANICAL                            3406
DEMOLITION                            3229
SIGN                                  2662
40 YEAR AND OLDER RECERTIFICATION     2566
PLUMBING                              2141
ELEVATOR                              1517
FIRE                                  1200
SPECIAL EVENTS                         816
TREE PERMIT                            393
PHASED PERMIT                          260
PLUMBING GAS                           132
ANNUAL FACILITY                         86
BOILER                                  20
LANDSCAPING                             17
TEMPORARY EVENTS                        12
COOKIE CUTTER                            5
Name: ScopeofWork, dtype: int64